.container {
    display: flex;
    align-items: left;
    justify-content: left;
}



.background {
    width: 100%;
    height: 100%;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 60s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes BackgroundGradient {
    0% {
        background-position: 28% 0;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 28% 0;
    }
}


.logo {
    width: 48px;
    height: 48px;
    
}