.backgroundHome {
    width: 100%;
    height: 100%;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);

    animation: BackgroundGradient 30s ease infinite;

    background-size: cover;

    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;

    /*display: flex;
    justify-content: center;
    align-items: center;
    */
}
.textContainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    box-sizing: border-box

}
.textContainer2 h1 {
    text-align: center;

    color: #ffffff;
    font-size: 45px;


    text-shadow: 0 0 4px #000000;
}

.textContainer2 h3 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 4px #000000;
}

.textContainer2 p {
    text-align: center;
    margin-top: -10px;

    color: #ffffff;
    font-size: 25px;

    text-shadow: 0 0 5px #000000;

}





.homeHeader {
    height: 12%;
    display: flex;
    align-items: center;        
}

nav{
    flex: 1;
    text-align: right;
    margin-right: 40px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    
    
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    text-shadow: 0 0 2px #000000;
    

}
.home-form-button{
    

    outline: 0;
    background: #da8309;
    width: 100%;
    border: 1;

    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 2px #000000;

    font-size: 12px;
    border-radius: 50px;

    margin-top: 28%;


}



.content2{
    width: 250px;
    height: 200px;
}
.homeLogo {
    width: 80px;
    padding-top: 1%;
}
a{
    text-decoration: none;
    color: black;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.row h1{
    color: #ffffff;
    font-size: 75px;
    margin-left: 60px;

    text-shadow: 0 0 2px #000000;
}
.row p {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-left: 60px;
    line-height: 15px;

    margin-top: -40px;

    text-shadow: 0 0 2px #000000;

    
}

.card{
    width: 400px;
    height: 460px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../../public/assets/images/beautiful-couple-date-night.jpg); /*change to img src later*/
    background-position: center;
    background-size: cover;

    margin-left: 10%;
}




@keyframes BackgroundGradient {
    0% {
        background-position: 28% 0;
    }

    50% {
        background-position: 73% 100%;
    }

    100% {
        background-position: 28% 0;
    }
}

/*Contact Page CSS*/
.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.textContainer h1 {
    text-align: center;

    color: #ffffff;
    font-size: 50px;
    

    text-shadow: 0 0 2px #000000;
}

.textContainer p {
    text-align: center;
    margin-top: -20px;

    color: #ffffff;
    font-size: 16px;
    
    text-shadow: 0 0 1px #000000;
    
}

.contactRow {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.contactBox {
    width: 200px;
    height: 260px;
    display: inline-block;
    border-radius: 20px;
    
    box-sizing: border-box;
    cursor: pointer;
    
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;

    margin-right: 20px;
    margin-top: 10px;


}

.contactBox h3 {
    text-align: center;
    font-family:'Gill Sans';

    font-size: 22px;
}

.contactBox p {
    text-align: center;
    
    font-family:'Gill Sans';
    

    color: black;
    

    justify-content: center;
    align-items: center;
}

.contactBox img {
    width: 90px;
    height: 90px;

    margin-left: 50px;
}

.contactBox2 {
    width: 200px;
    height: 260px;
    display: inline-block;
    border-radius: 20px;
    
    box-sizing: border-box;
    cursor: pointer;
    
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;

    margin-right: 20px;
    margin-top: 10px;


}

.contactBox2 h3 {
    text-align: center;
    font-family:'Gill Sans';

    font-size: 22px;
}

.contactBox2 p {
    text-align: center;
    
    font-family:'Gill Sans';
    

    color: black;
    

    justify-content: center;
    align-items: center;
}

.contactBox2 img {
    width: 90px;
    height: 90px;

    margin-left: 55px;
    margin-top: 35px;
}

.contactBox3 {
    width: 200px;
    height: 260px;
    display: inline-block;
    border-radius: 20px;
    
    box-sizing: border-box;
    cursor: pointer;
    
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;

    margin-right: 20px;
    margin-top: 10px;


}

.contactBox3 h3 {
    text-align: center;
    font-family:'Gill Sans';

    font-size: 22px;
}

.contactBox3 p {
    text-align: center;
    
    font-family:'Gill Sans';
    

    color: black;
    

    justify-content: center;
    align-items: center;
}

.contactBox3 img {
    width: 65px;
    height: 65px;

    margin-left: 65px;
    margin-top: 35px;
}