
.backgroundHome {
    width: 100%;
    height: 100%;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    
    animation: BackgroundGradient 30s ease infinite;

    background-size: cover;

    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;

    /*display: flex;
    justify-content: center;
    align-items: center;
    */
}

.homeHeader {
    height: 12%;
    display: flex;
    align-items: center;        
}

nav{
    flex: 1;
    text-align: right;
    margin-right: 40px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    
    
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    text-shadow: 0 0 2px #000000;
    

}
.home-form-button{
    

    outline: 0;
    background: #da8309;
    width: 100%;
    border: 1;

    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 2px #000000;

    font-size: 12px;
    border-radius: 50px;


}



.content2{
    width: 250px;
    height: 200px;
}
.homeLogo {
    width: 120px;
    padding-top: 1%;
}
a{
    text-decoration: none;
    color: black;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.row h1{
    color: #ffffff;
    font-size: 75px;
    margin-left: 60px;

    text-shadow: 0 0 2px #000000;
}
.row p {
    color: #ffffff;
    font-size: 13px;
    margin-left: 60px;
    line-height: 15px;

    margin-top: -30px;

    text-shadow: 0 0 2px #000000;
}

.card{
    width: 400px;
    height: 460px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../../public/assets/images/soul-match-logo-updated.png);
    background-position: center;
    background-size: cover;
}




@keyframes BackgroundGradient {
    0% {
        background-position: 28% 0;
    }

    50% {
        background-position: 73% 100%;
    }

    100% {
        background-position: 28% 0;
    }
}
