.profile-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 28% 0;
    }

    50% {
        background-position: 73% 100%;
    }

    100% {
        background-position: 28% 0;
    }
}


/*--------------------------------------------------------------------------------------------------------------------*/
.match-background2 {
    width: 100%;
   

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8e8e8;
}

.profile2 {
    border-radius: 1rem;
    width: 80vw;
   
    margin: auto 0;

    display: flex;
    flex-direction: row;
    align-items: center;
  
    padding: 1rem;

    background-color: #252525;
    box-shadow: 0 0 44px -9px rgba(0, 0, 0, 0.4);
}

.profile-pictures {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-info {
    width: calc(100% - 400px);
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    color: #EEEEEEFF;
}

.profile-hobbies {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.profile-hobby {
    width: auto;
    height: auto;
    padding: 4px 1rem;
    border-radius: 4px;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 30s ease infinite;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    color: #EEEEEEFF;
}

.profile-hobby:not(:first-child) {
    margin-left: 1rem;
}

.profile-hobby * {
    margin: 0;
}

.profile-info-bg {
    width: fit-content;
    height: fit-content;
    padding: 0 8px;
    border-radius: 4px;
    margin-bottom: 8px;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 30s ease infinite;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    color: #EEEEEEFF;
}

.profile-info-bg * {
    margin: 0;
}

.profile-bio {
    background-color: #151515;
    padding: 0 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
}

.profile-bio p {
    font-size: 1.5rem;
}

.profile-button {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    font-size: 1.5rem;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    color: #eaeaea;
}

.logout-button {
    position: absolute;
    top: 1rem;
    right: 1rem;

    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    font-size: 1.5rem;
    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 30s ease infinite;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    color: #eeeeee;
    border-radius: 4px;
    padding: 4px 8px;
}

.report-body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    background-color: rgba(37, 37, 37, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.report {
    width: 400px;
    height: auto;
    position: relative;
    z-index: 101;
    background-color: #efefef;
    border-radius: 8px;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    padding: 1rem;
}

.report-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.report-button {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    font-size: 1.5rem;
    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 30s ease infinite;
    box-shadow: 0 0 44px -9px rgba(255, 255, 255, 0.4);
    color: #eeeeee;
    border-radius: 4px;
    padding: 4px 8px;

    margin-top: 2rem;
}

.profile-reviews p {
    color: #1dc8cd;
    text-shadow: 0 0 0.7px #ffffff;
}

.profile-reviews p::first-letter {
    text-transform: uppercase;
}
