.navbar {
    position: relative;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    height: 64px;
    background-color: #252525;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #34b7e8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar-logo {
    width: 48px;
    height: 32px;
}

.navbar-left {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo-text {
    color: #FFFFFF;
    margin-left: 1rem;
}

.navbar-link {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.navbar-link:hover {
    cursor: pointer;
    background-color: #3b3b3b;
    color: #1e89fa;
}