.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(330deg, #21dcac, #13676a, #1dc8cd, #19a3f8);
    background-size: 800% 800%;
    animation: BackgroundGradient 30s ease infinite;
}

.personalization {
    width: 600px;
    height: auto;
    padding: 2rem;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    box-shadow: 0 0 44px -9px rgba(0, 0, 0, 0.4);
}

.personalization form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
}

.hobbies {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hobby {
    width: auto;
    height: auto;
    padding: 4px 16px;
    background-color: #484848;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 4px;
    cursor: pointer;
}

.hobby-selected {
    background: linear-gradient(330deg, #f64f37, #dc847e, #ff8962, #f8199f);
    background-size: 800% 800%;
    animation: BackgroundGradient 15s ease infinite;
    cursor: pointer;
}

.custom-select {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.8);
    background-color: #f3824f;
}
.custom-select select {
    width: 128px;
    margin: 0;
    padding: 0.75em 1.5em;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.custom-select select::-ms-expand {
    display: none;
}
.custom-select:before, .custom-select:after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    pointer-events: none;
}
.custom-select:before {
    transform: translateY(-125%);
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-bottom: 0.375em solid #823c0a;
}
.custom-select:after {
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.375em solid #823c0a;
}
@-moz-document url-prefix() {
    .custom-select select {
        padding-right: 1.75em;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .custom-select select {
        padding-right: 2em;
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 28% 0;
    }

    50% {
        background-position: 73% 100%;
    }

    100% {
        background-position: 28% 0;
    }
}
